#pogrubienie_meller{
font-size: 31px;
color: #815CCF;
}

#pochylona_meller{
font-size: 36pt;
color: #E5C06B;
}

#index_gorny_meller{
font-size: 1,1cm;
color: #958E1B;
}

#index_dolny_meller{
font-size: 1,7cm;
color: rgb(19%,94%,89%);
}

#mono_meller{
font-size: 41px;
color: #15E06B;
}

#powiekszenie_meller{
color: #4F3E9D;	
}

#pomniejszenie_meller{
color: rgb(69%,63%,22%);
}